<%- include("partials/header", { title: "Editor" }) %>

<div class="container py-4 col-8">
<div class="card shadow-sm">
<div class="card-header p-4">
  <h1>  <i class="fa-solid fa-phone me-1"></i>
Edit Line: <%= line.name %></h1>
</div>
<div class="card-body p-4">


  <form method="POST" action="/editor/line/<%= line.id %>">
    <div class="mb-3">
      <label for="name" class="form-label">Line Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= line.name %>" required>
    </div>

    <div class="mb-3">
      <label for="note" class="form-label">Note</label>
      <textarea class="form-control" id="note" name="note" rows="3"><%= line.note %></textarea>
    </div>

    <div class="mb-3">
      <label for="dial_code" class="form-label">Extension (Dial Code)</label>
      <input type="text" class="form-control" id="dial_code" name="dial_code" value="<%= line.dial_code %>" required>
    </div>

</div>

  <div class="card-footer p-4">
<button type="button" class="mx-1 btn btn-secondary" onclick="window.location.href='/editor';">Cancel</button>

    <button type="submit" class="mx-1 btn btn-primary">Save Changes</button>
  </form>
</div>
</div>

</body>
</html>
